# Importing the Cleaned Data (csv)

## Import Dependencies

In [1]:
# basic stuff
import psycopg2
import pandas as pd
import psycopg2.extras
import os
import numpy
from config import (census_key, gkey)
import gmaps
import requests
from ipywidgets.embed import embed_minimal_html
from pprint import pprint

# Imports the method used to connect to DBs
from sqlalchemy import create_engine

# function to establish a session with a connected database
from sqlalchemy.orm import Session

# database compliant datatypes
from sqlalchemy import Column, Integer, String, Float

## Setup the PostgreSQL engine

In [12]:
# password is hard-coded in the connection string as "postgres"
engine = create_engine('postgresql://postgres:postgres@localhost:5432/medical_no_show_db')

## Clear out data first
### Start with the fact (dependent) tables first, then drop foreign keys, truncate rest of tables and then re-add keys

In [37]:
# truncate non-dependent tables first
engine.execute('TRUNCATE TABLE staging_table')

# truncate the rest of the tables, this will get neighborhood and appointments
engine.execute('TRUNCATE TABLE neighborhood CASCADE;')

In [25]:
# just making sure tables are empty
engine.execute("SELECT * FROM appointments;").fetchall()

[]

## Importing the metadata first

### state

#### Import, preview

In [13]:
# medical no show staging data
raw_file = os.path.join("..","data","cleanData","appointments.csv")

# trying a latin encoding
# raw_df = pd.read_csv(raw_file, encoding="ISO-8859-1")
raw_df = pd.read_csv(raw_file, encoding="utf-8-sig")

# preview the raw data
raw_df.head()

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighborhood,Welfare_Assistance,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,No-show,AppointmentDayofWeek,AdvanceBookingDays,SameDayAppt
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,Friday,0,1
1,558997776694438,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,Friday,0,1
2,4262962299951,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,Friday,0,1
3,867951213174,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,Friday,0,1
4,8841186448183,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No,Friday,0,1

#### Rename columns to match database

In [14]:
# rename columns to match database column names, due to laziness
raw_df = raw_df.rename(columns={
    'Welfare_Assistance':'WelfareAssistance', 
})
raw_df.head()

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighborhood,WelfareAssistance,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,No-show,AppointmentDayofWeek,AdvanceBookingDays,SameDayAppt
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,Friday,0,1
1,558997776694438,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,Friday,0,1
2,4262962299951,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,Friday,0,1
3,867951213174,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,Friday,0,1
4,8841186448183,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No,Friday,0,1

#### Write to PostgreSQL, return rows to verify
##### Caution, to re-run, you have to run the truncate table code above first

In [16]:
# write dataframe to table, replace the rows if they exist
raw_df.to_sql('staging_table', con=engine, if_exists='append', index=False)

# return the data to make sure it was appended correctly
engine.execute("SELECT * FROM staging_table LIMIT 10").fetchall()

[(29872499824296, 5642903, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 62, 'JARDIM DA PENHA', 0, 1, 0, 0, 0, 0, 'No', 'Friday', 0, 1),
 (558997776694438, 5642503, 'M', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 56, 'JARDIM DA PENHA', 0, 0, 0, 0, 0, 0, 'No', 'Friday', 0, 1),
 (4262962299951, 5642549, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 62, 'MATA DA PRAIA', 0, 0, 0, 0, 0, 0, 'No', 'Friday', 0, 1),
 (867951213174, 5642828, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 8, 'PONTAL DE CAMBURI', 0, 0, 0, 0, 0, 0, 'No', 'Friday', 0, 1),
 (8841186448183, 5642494, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 56, 'JARDIM DA PENHA', 0, 1, 1, 0, 0, 0, 'No', 'Friday', 0, 1),
 (95985133231274, 5626772, 'F', datetime.date(2016, 4, 27), datetime.date(2016, 4, 29), 76, 'REPÚBLICA', 0, 1, 0, 0, 0, 0, 'No', 'Friday', 2, 0),
 (733688164476661, 5630279, 'F', datetime.date(2016, 4, 27), datetime.date(2016, 4, 29), 23, 'GOIABEIRAS', 0, 0, 0, 0, 0, 0, 'Yes', 'Friday', 2, 0),
 (3449833394123, 5630575, 'F', datetime.date(2016, 4, 27), datetime.date(2016, 4, 29), 39, 'GOIABEIRAS', 0, 0, 0, 0, 0, 0, 'Yes', 'Friday', 2, 0),
 (56394729949972, 5638447, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 21, 'ANDORINHAS', 0, 0, 0, 0, 0, 0, 'No', 'Friday', 0, 1),
 (78124564369297, 5629123, 'F', datetime.date(2016, 4, 27), datetime.date(2016, 4, 29), 19, 'CONQUISTA', 0, 0, 0, 0, 0, 0, 'No', 'Friday', 2, 0)]

#### create a neighborhood df
Create a df of unique neighborhoods

In [17]:
# group the neighborhoods
neighbor_df = pd.DataFrame(raw_df.groupby('Neighborhood')['AppointmentID'].count().reset_index())

# rename column
neighbor_df = neighbor_df.rename(columns={'AppointmentID':'AppointmentCount'})

neighbor_df.head()

          Neighborhood  AppointmentCount
0            AEROPORTO                 8
1           ANDORINHAS              2262
2      ANTÔNIO HONÓRIO               271
3  ARIOVALDO FAVALESSA               282
4       BARRO VERMELHO               423

### populating the PostgreSQL neighborhood table, we will update geo stuff later

In [21]:
# return the data to make sure it was appended correctly
engine.execute("SELECT * FROM neighborhood LIMIT 10").fetchall()

[(1, 'AEROPORTO', None, None),
 (2, 'ANDORINHAS', None, None),
 (3, 'ANTÔNIO HONÓRIO', None, None),
 (4, 'ARIOVALDO FAVALESSA', None, None),
 (5, 'BARRO VERMELHO', None, None),
 (6, 'BELA VISTA', None, None),
 (7, 'BENTO FERREIRA', None, None),
 (8, 'BOA VISTA', None, None),
 (9, 'BONFIM', None, None),
 (10, 'CARATOÍRA', None, None)]

In [22]:
# make dataframe out of neighborhood table
neighbor_df = pd.read_sql_query('select * from "neighborhood"',con=engine)

neighbor_df.head()

   NeighborhoodID         Neighborhood Longitude Latitude
0               1            AEROPORTO      None     None
1               2           ANDORINHAS      None     None
2               3      ANTÔNIO HONÓRIO      None     None
3               4  ARIOVALDO FAVALESSA      None     None
4               5       BARRO VERMELHO      None     None

### loop through dataframe, updating sql as we go with lat/long, if they exist!

In [34]:
# array to store neighborhoods we can't match
missing_hoods = []

# loop through neighborhood df
for index, row in neighbor_df.iterrows():
    
    # target address is the row's neighborhood
    target_address = row['Neighborhood']

    # build the endpoint URL
    
#     target_url = ('https://maps.googleapis.com/maps/api/geocode/json?address={0}&key={1}').format(target_address, gkey)
    target_url = 'https://maps.googleapis.com/maps/api/geocode/json?components=locality:' + target_address + '&country:BR&key=' + gkey

#     print(target_url)
    # run a request to endpoint and convert result to json
    geo_data = requests.get(target_url).json()    
    
    # try to extract the lat/long
    try:
      
        # Extract latitude and longitude
        lat = geo_data["results"][0]["geometry"]["location"]["lat"]
        lng = geo_data["results"][0]["geometry"]["location"]["lng"] 
        
#         print(f'Lat: {lat} Long: {lng}')
        
        # update the data base
        sql = "UPDATE neighborhood SET ""Latitude"" = " + str(lat) + ", ""Longitude"" = " + str(lng) + " WHERE ""Neighborhood"" = '" + target_address + "';"
        print(sql)
        engine.execute(sql)
    
    except:
        
        missing_hoods.append(target_address)

# look at the ones we missed
# print(f'Missing hoods: {missing_hoods}')

UPDATE neighborhood SET Latitude = 36.198778, Longitude = -95.88386589999999 WHERE Neighborhood = 'AEROPORTO';
UPDATE neighborhood SET Latitude = -10.3491989, Longitude = -39.8392279 WHERE Neighborhood = 'ANDORINHAS';
UPDATE neighborhood SET Latitude = -20.2631207, Longitude = -40.2980132 WHERE Neighborhood = 'ANTÔNIO HONÓRIO';
UPDATE neighborhood SET Latitude = -20.3146828, Longitude = -40.35638489999999 WHERE Neighborhood = 'ARIOVALDO FAVALESSA';
UPDATE neighborhood SET Latitude = 38.92798, Longitude = -77.025792 WHERE Neighborhood = 'BARRO VERMELHO';
UPDATE neighborhood SET Latitude = 37.1186503, Longitude = -8.5374284 WHERE Neighborhood = 'BELA VISTA';
UPDATE neighborhood SET Latitude = -20.3142092, Longitude = -40.3079257 WHERE Neighborhood = 'BENTO FERREIRA';
UPDATE neighborhood SET Latitude = 38.743466, Longitude = -120.7304297 WHERE Neighborhood = 'BOA VISTA';
UPDATE neighborhood SET Latitude = 41.1510153, Longitude = -8.5940618 WHERE Neighborhood = 'BONFIM';
UPDATE neighborhood SET Latitude = -20.3153468, Longitude = -40.3528778 WHERE Neighborhood = 'CARATOÍRA';
UPDATE neighborhood SET Latitude = 37.09024, Longitude = -95.712891 WHERE Neighborhood = 'CENTRO';
UPDATE neighborhood SET Latitude = -20.2855012, Longitude = -40.3352805 WHERE Neighborhood = 'COMDUSA';
UPDATE neighborhood SET Latitude = 38.4097283, Longitude = -4.4902774 WHERE Neighborhood = 'CONQUISTA';
UPDATE neighborhood SET Latitude = -23.5520577, Longitude = -46.6525766 WHERE Neighborhood = 'CONSOLAÇÃO';
UPDATE neighborhood SET Latitude = 38.2077692, Longitude = -8.5611565 WHERE Neighborhood = 'CRUZAMENTO';
UPDATE neighborhood SET Latitude = 43.091463, Longitude = -0.045726 WHERE Neighborhood = 'DE LOURDES';
UPDATE neighborhood SET Latitude = -20.3155332, Longitude = -40.3477763 WHERE Neighborhood = 'DO CABRAL';
UPDATE neighborhood SET Latitude = 40.7614327, Longitude = -73.97762159999999 WHERE Neighborhood = 'DO QUADRO';
UPDATE neighborhood SET Latitude = -20.3194015, Longitude = -40.2960984 WHERE Neighborhood = 'ENSEADA DO SUÁ';
UPDATE neighborhood SET Latitude = -19.9266737, Longitude = -44.0877118 WHERE Neighborhood = 'FONTE GRANDE';
UPDATE neighborhood SET Latitude = 41.3417163, Longitude = -8.7518066 WHERE Neighborhood = 'FORTE SÃO JOÃO';
UPDATE neighborhood SET Latitude = -20.3069131, Longitude = -40.3280037 WHERE Neighborhood = 'FRADINHOS';
UPDATE neighborhood SET Latitude = 37.09024, Longitude = -95.712891 WHERE Neighborhood = 'GOIABEIRAS';
UPDATE neighborhood SET Latitude = -20.3331372, Longitude = -40.3869728 WHERE Neighborhood = 'GRANDE VITÓRIA';
UPDATE neighborhood SET Latitude = -20.3059062, Longitude = -40.3050336 WHERE Neighborhood = 'GURIGICA';
UPDATE neighborhood SET Latitude = -22.967227, Longitude = -43.2368843 WHERE Neighborhood = 'HORTO';
UPDATE neighborhood SET Latitude = -20.2774151, Longitude = -40.3350205 WHERE Neighborhood = 'ILHA DAS CAIEIRAS';
UPDATE neighborhood SET Latitude = 36.9788003, Longitude = -25.1059054 WHERE Neighborhood = 'ILHA DE SANTA MARIA';
UPDATE neighborhood SET Latitude = -20.4176812, Longitude = -34.5631088 WHERE Neighborhood = 'ILHA DO BOI';
UPDATE neighborhood SET Latitude = -20.3027641, Longitude = -40.2844963 WHERE Neighborhood = 'ILHA DO FRADE';
UPDATE neighborhood SET Latitude = 1.6139012, Longitude = 7.405702400000001 WHERE Neighborhood = 'ILHA DO PRÍNCIPE';
UPDATE neighborhood SET Latitude = -20.299528, Longitude = -40.3458631 WHERE Neighborhood = 'INHANGUETÁ';
UPDATE neighborhood SET Latitude = -24.1089373, Longitude = -49.33568589999999 WHERE Neighborhood = 'ITARARÉ';
UPDATE neighborhood SET Latitude = 40.622636, Longitude = -74.031623 WHERE Neighborhood = 'JABOUR';
UPDATE neighborhood SET Latitude = -20.2592187, Longitude = -40.26545309999999 WHERE Neighborhood = 'JARDIM CAMBURI';
UPDATE neighborhood SET Latitude = -20.2850907, Longitude = -40.2960984 WHERE Neighborhood = 'JARDIM DA PENHA';
UPDATE neighborhood SET Latitude = 29.3615659, Longitude = -100.8876267 WHERE Neighborhood = 'JESUS DE NAZARETH';
UPDATE neighborhood SET Latitude = 42.6477708, Longitude = -71.3174432 WHERE Neighborhood = 'JOANA D´ARC';
UPDATE neighborhood SET Latitude = -20.3085919, Longitude = -40.31971 WHERE Neighborhood = 'JUCUTUQUARA';
UPDATE neighborhood SET Latitude = 40.7649517, Longitude = -73.9750827 WHERE Neighborhood = 'MARIA ORTIZ';
UPDATE neighborhood SET Latitude = -20.3195399, Longitude = -40.3554284 WHERE Neighborhood = 'MÁRIO CYPRESTE';
UPDATE neighborhood SET Latitude = -20.296341, Longitude = -40.31971 WHERE Neighborhood = 'MARUÍPE';
UPDATE neighborhood SET Latitude = -20.2751185, Longitude = -40.2922686 WHERE Neighborhood = 'MATA DA PRAIA';
UPDATE neighborhood SET Latitude = -21.3221066, Longitude = -46.3688171 WHERE Neighborhood = 'MONTE BELO';
UPDATE neighborhood SET Latitude = -20.2720492, Longitude = -40.2967367 WHERE Neighborhood = 'MORADA DE CAMBURI';
UPDATE neighborhood SET Latitude = 32.699635, Longitude = 35.303546 WHERE Neighborhood = 'NAZARETH';
UPDATE neighborhood SET Latitude = -20.272615, Longitude = -40.3280037 WHERE Neighborhood = 'NOVA PALESTINA';
UPDATE neighborhood SET Latitude = 31.7135408, Longitude = -106.3975665 WHERE Neighborhood = 'PARQUE INDUSTRIAL';
UPDATE neighborhood SET Latitude = -20.3193159, Longitude = -40.3419903 WHERE Neighborhood = 'PARQUE MOSCOSO';
UPDATE neighborhood SET Latitude = -23.7288509, Longitude = -47.4335977 WHERE Neighborhood = 'PIEDADE';
UPDATE neighborhood SET Latitude = -20.2900766, Longitude = -40.2980132 WHERE Neighborhood = 'PONTAL DE CAMBURI';
UPDATE neighborhood SET Latitude = -20.2996261, Longitude = -40.2922686 WHERE Neighborhood = 'PRAIA DO CANTO';
UPDATE neighborhood SET Latitude = -20.3130059, Longitude = -40.2992897 WHERE Neighborhood = 'PRAIA DO SUÁ';
UPDATE neighborhood SET Latitude = -23.6711169, Longitude = -46.5291346 WHERE Neighborhood = 'REDENÇÃO';
UPDATE neighborhood SET Latitude = 33.4131279, Longitude = -111.8259659 WHERE Neighborhood = 'REPÚBLICA';
UPDATE neighborhood SET Latitude = -27.4518622, Longitude = -58.98555469999999 WHERE Neighborhood = 'RESISTÊNCIA';
UPDATE neighborhood SET Latitude = 42.2514173, Longitude = -83.0467542 WHERE Neighborhood = 'ROMÃO';
UPDATE neighborhood SET Latitude = 36.1310156, Longitude = -95.8523407 WHERE Neighborhood = 'SANTA CECÍLIA';
UPDATE neighborhood SET Latitude = 37.3541079, Longitude = -121.9552356 WHERE Neighborhood = 'SANTA CLARA';
UPDATE neighborhood SET Latitude = -2.2324841, Longitude = -45.3016641 WHERE Neighborhood = 'SANTA HELENA';
UPDATE neighborhood SET Latitude = 13.909444, Longitude = -60.978893 WHERE Neighborhood = 'SANTA LÚCIA';
UPDATE neighborhood SET Latitude = -19.7878811, Longitude = -43.9299434 WHERE Neighborhood = 'SANTA LUÍZA';
UPDATE neighborhood SET Latitude = 11.2403547, Longitude = -74.2110227 WHERE Neighborhood = 'SANTA MARTHA';
UPDATE neighborhood SET Latitude = -22.9162662, Longitude = -43.1916361 WHERE Neighborhood = 'SANTA TEREZA';
UPDATE neighborhood SET Latitude = -23.6742228, Longitude = -46.5436003 WHERE Neighborhood = 'SANTO ANDRÉ';
UPDATE neighborhood SET Latitude = 29.4241219, Longitude = -98.49362819999999 WHERE Neighborhood = 'SANTO ANTÔNIO';
UPDATE neighborhood SET Latitude = 39.033339, Longitude = -94.579467 WHERE Neighborhood = 'SANTOS DUMONT';
UPDATE neighborhood SET Latitude = 38.930888, Longitude = -94.773782 WHERE Neighborhood = 'SANTOS REIS';
UPDATE neighborhood SET Latitude = -4.04487, Longitude = -40.8651244 WHERE Neighborhood = 'SÃO BENEDITO';
UPDATE neighborhood SET Latitude = -11.0119289, Longitude = -37.2074411 WHERE Neighborhood = 'SÃO CRISTÓVÃO';
UPDATE neighborhood SET Latitude = -27.6140791, Longitude = -48.6370861 WHERE Neighborhood = 'SÃO JOSÉ';
UPDATE neighborhood SET Latitude = 16.830574, Longitude = -25.0614267 WHERE Neighborhood = 'SÃO PEDRO';
UPDATE neighborhood SET Latitude = -20.2613736, Longitude = -40.2954601 WHERE Neighborhood = 'SOLON BORGES';
UPDATE neighborhood SET Latitude = -20.2944114, Longitude = -40.322262 WHERE Neighborhood = 'TABUAZEIRO';
UPDATE neighborhood SET Latitude = -20.3197784, Longitude = -40.3468197 WHERE Neighborhood = 'VILA RUBIM';

#### 50 out of 81, not bad!
Looks like those special characters need to be removed.  I'll circle back

In [34]:
# checking it out from the database
engine.execute("SELECT * FROM neighborhood WHERE latitude IS NOT NULL LIMIT 10").fetchall()

[(159, 'AEROPORTO', -95.88386589999999, 36.198778),
 (131, 'ANDORINHAS', -39.8392279, -10.3491989),
 (125, 'BONFIM', -8.5940618, 41.1510153),
 (109, 'CENTRO', -95.712891, 37.09024),
 (111, 'COMDUSA', -40.3352805, -20.2855012),
 (148, 'CONQUISTA', -4.4902774, 38.4097283),
 (82, 'CRUZAMENTO', -8.5611565, 38.2077692),
 (87, 'FRADINHOS', -40.3280037, -20.3069131),
 (85, 'GOIABEIRAS', -95.712891, 37.09024),
 (157, 'GURIGICA', -40.3050336, -20.3059062)]

### Load appointment table

In [35]:
# sql 
sql = "  INSERT INTO appointments " \
    "SELECT s.appointment_id, " \
    "s.patient_id, " \
    "s.gender, " \
    "s.scheduled_day, " \
    "s.appointment_day, " \
    "s.patient_age, " \
    "n.neighborhood_id, " \
    "s.scholarship, " \
    "s.hypertension, " \
    "s.diabetes, " \
    "s.alcoholism, " \
    "s.handicap, " \
    "s.no_show " \
    "FROM staging_table s INNER JOIN neighborhood n " \
    "ON s.neighborhood = n.neighborhood;"

engine.execute(sql)

# checking it out from the database
engine.execute("SELECT * FROM appointments LIMIT 10").fetchall()

[(5642903, 29872499824296, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 62, 155, 0, 1, 0, 0, 0, 'No'),
 (5642503, 558997776694438, 'M', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 56, 155, 0, 0, 0, 0, 0, 'No'),
 (5642549, 4262962299951, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 62, 93, 0, 0, 0, 0, 0, 'No'),
 (5642828, 867951213174, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 8, 88, 0, 0, 0, 0, 0, 'No'),
 (5642494, 8841186448183, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 56, 155, 0, 1, 1, 0, 0, 'No'),
 (5626772, 95985133231274, 'F', datetime.date(2016, 4, 27), datetime.date(2016, 4, 29), 76, 122, 0, 1, 0, 0, 0, 'No'),
 (5630279, 733688164476661, 'F', datetime.date(2016, 4, 27), datetime.date(2016, 4, 29), 23, 85, 0, 0, 0, 0, 0, 'Yes'),
 (5630575, 3449833394123, 'F', datetime.date(2016, 4, 27), datetime.date(2016, 4, 29), 39, 85, 0, 0, 0, 0, 0, 'Yes'),
 (5638447, 56394729949972, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 21, 131, 0, 0, 0, 0, 0, 'No'),
 (5629123, 78124564369297, 'F', datetime.date(2016, 4, 27), datetime.date(2016, 4, 29), 19, 148, 0, 0, 0, 0, 0, 'No')]