# Median Monthly Nominal Income Data
## Description
This notebook imports the monthly nominal income data for each neighborhood and creates clean files for analysis

### Import Dependencies

In [4]:
import pandas as pd
import numpy as np
import os
from pprint import pprint
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

### Import raw file and assess initial data.

In [6]:
# Import data from csv. Create dataframe.
neighborhoodincomes_df = pd.read_csv('../data/rawData/median_monthly_nominal_income_by_neighborhood.csv', encoding = 'utf-8')

# preview the data
neighborhoodincomes_df.head()

,"Mesorregiões, microrregiões, municípios, distritos, subdistritos e bairros",Valor do rendimento nominal mediano mensal das pessoas de 10 anos ou mais de idade (R$)
0,Andorinhas,510.0
1,Antonio Honório,755.0
2,Ariovaldo Favalessa,510.0
3,Barro Vermelho,2000.0
4,Bela Vista,510.0

In [7]:
# Rename columns for clarity
neighborhoodincomes_df.rename(columns = {'Mesorregiões, microrregiões, municípios, distritos, subdistritos e bairros':'Neighborhood',
                            'Valor do rendimento nominal mediano mensal das pessoas de 10 anos ou mais de idade (R$)':'MedianMonthlyNominalIncome_BRL'}, inplace = True)

neighborhoodincomes_df.head()

          Neighborhood  MedianMonthlyNominalIncome_BRL
0           Andorinhas                           510.0
1      Antonio Honório                           755.0
2  Ariovaldo Favalessa                           510.0
3       Barro Vermelho                          2000.0
4           Bela Vista                           510.0