# Importing the Cleaned Data (csv)

## Import Dependencies

In [1]:
# basic stuff
import psycopg2
import pandas as pd
import psycopg2.extras
import os
import numpy
from config import (census_key, gkey)
import gmaps
import requests
from ipywidgets.embed import embed_minimal_html
from pprint import pprint

# Imports the method used to connect to DBs
from sqlalchemy import create_engine

# function to establish a session with a connected database
from sqlalchemy.orm import Session

# database compliant datatypes
from sqlalchemy import Column, Integer, String, Float

## Setup the PostgreSQL engine

In [12]:
# password is hard-coded in the connection string as "postgres"
engine = create_engine('postgresql://postgres:postgres@localhost:5432/medical_no_show_db')

## Clear out data first
### Start with the fact (dependent) tables first, then drop foreign keys, truncate rest of tables and then re-add keys

In [37]:
# truncate non-dependent tables first
engine.execute('TRUNCATE TABLE staging_table')

# truncate the rest of the tables, this will get neighborhood and appointments
engine.execute('TRUNCATE TABLE neighborhood CASCADE;')

In [25]:
# just making sure tables are empty
engine.execute("SELECT * FROM appointments;").fetchall()

[]

## Importing the metadata first

### state

#### Import, preview

In [13]:
# medical no show staging data
raw_file = os.path.join("..","data","cleanData","appointments.csv")

# trying a latin encoding
# raw_df = pd.read_csv(raw_file, encoding="ISO-8859-1")
raw_df = pd.read_csv(raw_file, encoding="utf-8-sig")

# preview the raw data
raw_df.head()

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighborhood,Welfare_Assistance,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,No-show,AppointmentDayofWeek,AdvanceBookingDays,SameDayAppt
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,Friday,0,1
1,558997776694438,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,Friday,0,1
2,4262962299951,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,Friday,0,1
3,867951213174,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,Friday,0,1
4,8841186448183,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No,Friday,0,1

#### Rename columns to match database

In [14]:
# rename columns to match database column names, due to laziness
raw_df = raw_df.rename(columns={
    'Welfare_Assistance':'WelfareAssistance', 
})
raw_df.head()

,PatientID,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighborhood,WelfareAssistance,Hypertension,Diabetes,Alcoholism,Handicap,SMS_received,No-show,AppointmentDayofWeek,AdvanceBookingDays,SameDayAppt
0,29872499824296,5642903,F,2016-04-29,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No,Friday,0,1
1,558997776694438,5642503,M,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No,Friday,0,1
2,4262962299951,5642549,F,2016-04-29,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No,Friday,0,1
3,867951213174,5642828,F,2016-04-29,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No,Friday,0,1
4,8841186448183,5642494,F,2016-04-29,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No,Friday,0,1

#### Write to PostgreSQL, return rows to verify
##### Caution, to re-run, you have to run the truncate table code above first

In [16]:
# write dataframe to table, replace the rows if they exist
raw_df.to_sql('staging_table', con=engine, if_exists='append', index=False)

# return the data to make sure it was appended correctly
engine.execute("SELECT * FROM staging_table LIMIT 10").fetchall()

[(29872499824296, 5642903, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 62, 'JARDIM DA PENHA', 0, 1, 0, 0, 0, 0, 'No', 'Friday', 0, 1),
 (558997776694438, 5642503, 'M', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 56, 'JARDIM DA PENHA', 0, 0, 0, 0, 0, 0, 'No', 'Friday', 0, 1),
 (4262962299951, 5642549, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 62, 'MATA DA PRAIA', 0, 0, 0, 0, 0, 0, 'No', 'Friday', 0, 1),
 (867951213174, 5642828, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 8, 'PONTAL DE CAMBURI', 0, 0, 0, 0, 0, 0, 'No', 'Friday', 0, 1),
 (8841186448183, 5642494, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 56, 'JARDIM DA PENHA', 0, 1, 1, 0, 0, 0, 'No', 'Friday', 0, 1),
 (95985133231274, 5626772, 'F', datetime.date(2016, 4, 27), datetime.date(2016, 4, 29), 76, 'REPÚBLICA', 0, 1, 0, 0, 0, 0, 'No', 'Friday', 2, 0),
 (733688164476661, 5630279, 'F', datetime.date(2016, 4, 27), datetime.date(2016, 4, 29), 23, 'GOIABEIRAS', 0, 0, 0, 0, 0, 0, 'Yes', 'Friday', 2, 0),
 (3449833394123, 5630575, 'F', datetime.date(2016, 4, 27), datetime.date(2016, 4, 29), 39, 'GOIABEIRAS', 0, 0, 0, 0, 0, 0, 'Yes', 'Friday', 2, 0),
 (56394729949972, 5638447, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 21, 'ANDORINHAS', 0, 0, 0, 0, 0, 0, 'No', 'Friday', 0, 1),
 (78124564369297, 5629123, 'F', datetime.date(2016, 4, 27), datetime.date(2016, 4, 29), 19, 'CONQUISTA', 0, 0, 0, 0, 0, 0, 'No', 'Friday', 2, 0)]

#### create a neighborhood df
Create a df of unique neighborhoods

In [17]:
# group the neighborhoods
neighbor_df = pd.DataFrame(raw_df.groupby('Neighborhood')['AppointmentID'].count().reset_index())

# rename column
neighbor_df = neighbor_df.rename(columns={'AppointmentID':'AppointmentCount'})

neighbor_df.head()

          Neighborhood  AppointmentCount
0            AEROPORTO                 8
1           ANDORINHAS              2262
2      ANTÔNIO HONÓRIO               271
3  ARIOVALDO FAVALESSA               282
4       BARRO VERMELHO               423

### populating the PostgreSQL neighborhood table, we will update geo stuff later

In [21]:
# return the data to make sure it was appended correctly
engine.execute("SELECT * FROM neighborhood LIMIT 10").fetchall()

[(1, 'AEROPORTO', None, None),
 (2, 'ANDORINHAS', None, None),
 (3, 'ANTÔNIO HONÓRIO', None, None),
 (4, 'ARIOVALDO FAVALESSA', None, None),
 (5, 'BARRO VERMELHO', None, None),
 (6, 'BELA VISTA', None, None),
 (7, 'BENTO FERREIRA', None, None),
 (8, 'BOA VISTA', None, None),
 (9, 'BONFIM', None, None),
 (10, 'CARATOÍRA', None, None)]

In [22]:
# make dataframe out of neighborhood table
neighbor_df = pd.read_sql_query('select * from "neighborhood"',con=engine)

neighbor_df.head()

   NeighborhoodID         Neighborhood Longitude Latitude
0               1            AEROPORTO      None     None
1               2           ANDORINHAS      None     None
2               3      ANTÔNIO HONÓRIO      None     None
3               4  ARIOVALDO FAVALESSA      None     None
4               5       BARRO VERMELHO      None     None

### loop through dataframe, updating sql as we go with lat/long, if they exist!

In [ ]:
# array to store neighborhoods we can't match
missing_hoods = []

# loop through neighborhood df
for index, row in neighbor_df.iterrows():
    
    # target address is the row's neighborhood
    target_address = row['Neighborhood']

    # build the endpoint URL
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?address={0}&key={1}').format(target_address, gkey)

    # run a request to endpoint and convert result to json
    geo_data = requests.get(target_url).json()    
    
    # try to extract the lat/long
    try:
      
        # Extract latitude and longitude
        lat = geo_data["results"][0]["geometry"]["location"]["lat"]
        lng = geo_data["results"][0]["geometry"]["location"]["lng"] 
        
        # update the data base
        sql = "UPDATE neighborhood SET Latitude = " + str(lat) + ", Longitude = " + str(lng) + " WHERE country='Brazil' AND neighborhood = '" + target_address + "';"
        engine.execute(sql)
    
    except:
        
        missing_hoods.append(target_address)

# look at the ones we missed
print(f'Missing hoods: {missing_hoods}')

#### 50 out of 81, not bad!
Looks like those special characters need to be removed.  I'll circle back

In [34]:
# checking it out from the database
engine.execute("SELECT * FROM neighborhood WHERE latitude IS NOT NULL LIMIT 10").fetchall()

[(159, 'AEROPORTO', -95.88386589999999, 36.198778),
 (131, 'ANDORINHAS', -39.8392279, -10.3491989),
 (125, 'BONFIM', -8.5940618, 41.1510153),
 (109, 'CENTRO', -95.712891, 37.09024),
 (111, 'COMDUSA', -40.3352805, -20.2855012),
 (148, 'CONQUISTA', -4.4902774, 38.4097283),
 (82, 'CRUZAMENTO', -8.5611565, 38.2077692),
 (87, 'FRADINHOS', -40.3280037, -20.3069131),
 (85, 'GOIABEIRAS', -95.712891, 37.09024),
 (157, 'GURIGICA', -40.3050336, -20.3059062)]

### Load appointment table

In [35]:
# sql 
sql = "  INSERT INTO appointments " \
    "SELECT s.appointment_id, " \
    "s.patient_id, " \
    "s.gender, " \
    "s.scheduled_day, " \
    "s.appointment_day, " \
    "s.patient_age, " \
    "n.neighborhood_id, " \
    "s.scholarship, " \
    "s.hypertension, " \
    "s.diabetes, " \
    "s.alcoholism, " \
    "s.handicap, " \
    "s.no_show " \
    "FROM staging_table s INNER JOIN neighborhood n " \
    "ON s.neighborhood = n.neighborhood;"

engine.execute(sql)

# checking it out from the database
engine.execute("SELECT * FROM appointments LIMIT 10").fetchall()

[(5642903, 29872499824296, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 62, 155, 0, 1, 0, 0, 0, 'No'),
 (5642503, 558997776694438, 'M', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 56, 155, 0, 0, 0, 0, 0, 'No'),
 (5642549, 4262962299951, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 62, 93, 0, 0, 0, 0, 0, 'No'),
 (5642828, 867951213174, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 8, 88, 0, 0, 0, 0, 0, 'No'),
 (5642494, 8841186448183, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 56, 155, 0, 1, 1, 0, 0, 'No'),
 (5626772, 95985133231274, 'F', datetime.date(2016, 4, 27), datetime.date(2016, 4, 29), 76, 122, 0, 1, 0, 0, 0, 'No'),
 (5630279, 733688164476661, 'F', datetime.date(2016, 4, 27), datetime.date(2016, 4, 29), 23, 85, 0, 0, 0, 0, 0, 'Yes'),
 (5630575, 3449833394123, 'F', datetime.date(2016, 4, 27), datetime.date(2016, 4, 29), 39, 85, 0, 0, 0, 0, 0, 'Yes'),
 (5638447, 56394729949972, 'F', datetime.date(2016, 4, 29), datetime.date(2016, 4, 29), 21, 131, 0, 0, 0, 0, 0, 'No'),
 (5629123, 78124564369297, 'F', datetime.date(2016, 4, 27), datetime.date(2016, 4, 29), 19, 148, 0, 0, 0, 0, 0, 'No')]